@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300&family=Eagle+Lake&display=swap');

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: flex-start;
  padding-left: 10vw;
  align-items: center;
  background-image: url('https://images4.alphacoders.com/824/thumb-1920-824093.jpg');
  background-position: center;
  background-size: cover;
}

.cartelito {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 50%;
  border: 3px solid black;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  box-shadow: 0 0 30px 40px rgba(0,0,0,0.5);
}

.text {
  font-family: 'Eagle Lake', cursive;
  color: black;
}